argcomplete==3.6.3
binary==1.0.2
build==1.4.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cryptography==46.0.5
docutils==0.22.4
-e git+https://github.com/qasimio/Foldr.git@a2304e82c8faa571185f6f30065a1a36fcbafb13#egg=foldr
google-api-core==2.30.0
google-auth==2.48.0
google-cloud-bigquery==3.40.1
google-cloud-core==2.5.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
grpcio==1.78.0
grpcio-status==1.78.0
id==1.5.0
idna==3.11
jaraco.classes==3.4.0
jaraco.context==6.1.0
jaraco.functools==4.4.0
jeepney==0.9.0
keyring==25.7.0
markdown-it-py==4.0.0
mdurl==0.1.2
more-itertools==10.8.0
nh3==0.3.2
packaging==26.0
pipx==1.8.0
platformdirs==4.9.2
proto-plus==1.27.1
protobuf==6.33.5
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pyfiglet==1.0.4
Pygments==2.19.2
pyinfo==1.0.1
pypinfo==23.0.0
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-magic==0.4.27
pywin32-ctypes==0.2.3
readme_renderer==44.0
requests==2.32.5
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.3.0
rsa==4.9.1
SecretStorage==3.5.0
six==1.17.0
tinydb==4.8.2
tinyrecord==0.2.0
tomli==2.4.0
twine==6.2.0
typing_extensions==4.15.0
urllib3==2.6.3
userpath==1.9.2
